body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
.navBarContainer {
  margin-top: 20px;
  height: 35px;
  background-color: #F6F6F7;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; 
}

nav.navBar {
  width: 20%;
}

button.myCart {
  border: none;
  background-color: #F6F6F7;
  outline:none;
  color: #888888;
  cursor: pointer;
}

button.openCart {
  position: relative;
  left: 80px;
  border: 1px solid #CCCCCC;
  border-bottom: none;
  height: 36px;
  background-color: #ffffff;
  outline:none;
  color: #222222;
  cursor: pointer;
  z-index: 10;
}

/* Product details */
.outerProductContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 50px 100px 0px;
}

img.teeImage {
  width: 100%;
  max-height: 90vh;
  object-fit: contain;
}

.productName {
  color: #222222;
  font-size: 1.5rem;
  font-weight: 500;
}

.priceBorder {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.productPrice {
  color: #222222;
  font-size: 0.8rem;
}

p.productDescription {
  color: #888888;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.5;
}

/* sizes */
.sizes {
  margin-top: 30px;
  color: #888888;
  font-size: 0.8em;
}

span.sizeRequired {
  color: #C90000;
}

span.sizeSelected {
  color: #222222;  
  margin-left: 5px;
}

.sizeContainer {
  display: flex;
  gap: 10px;
}

/* size radio buttons */
.center-align{
  margin-top: -10px;
} 

input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}

label {
  display: grid;
  vertical-align: middle;
  text-align: center;
  font-size: 0.9em;
  font-weight: 300;
  cursor: pointer;
  color: #888888;
  padding: 10px 15px;
  border: 2px solid #CCCCCC;
}
input[type="radio"]:checked + label{
  border: 2px solid #222222;
  color: #222222;
}


/* add to cart button */
.addToCartButton {
  margin-top: 20px;
  font-weight: bold;
  border: 2px solid #222222;
  background-color: #ffffff;
  transition: all 0.2ms;
  padding: 10px 20px;
}

.addToCartButton:hover {
  background-color: #222222;
  color: #ffffff;
  cursor: pointer;
}

/* mini shopping cart */

.cartContainer {
  position: relative;
  top: 200px;
}

.cartItemsContainer {
  position: relative;
  left: 160px;
  bottom: 20px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  border: 1px solid #CCCCCC;
  gap: 20px;
  padding: 20px;
}

img.cartProductImage {
  height: 8rem;
}